<nav class="cyan" role="navigation">
  <div class="nav-wrapper container">
    <span class="brand-logo hide-on-large-only"><%= title %></span>
    <ul class="hide-on-med-and-down">
      <li class="brand-logo" style="position: initial;"><a href="/"><%= title %></a></li>
      <% if (session && session.TA) { %>
      <li style="margin-left: 10px;"><form method="POST" action="/options">
      <% if (typeof frozen != 'undefined' && frozen) { %>
      <button class="waves-effect btn blue lighten-5 black-text" name="frozen" value="0">Unfreeze</button>
      <% } else if (typeof frozen != 'undefined') { %>
      <button class="waves-effect btn blue lighten-5 black-text" name="frozen" value="1">Freeze</button>
      <% } %>
      </form></li>
      <% } %>
    </ul>
    <ul class="right hide-on-med-and-down">
      <% if (session && session.authenticated) { %>
      <li><span class="blue-text text-lighten-4">Logged in as <%=session.user_id %></span>
      <a class="waves-effect" href="/logout">Log Out</a></li>
      <% } else { %>
      <li><a class="waves-effect" href="/login">Log In</a></li>
      <% } %>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <% if (session && session.authenticated) { %>
      <li class="cyan white-text" style="padding: 0px 20px;">Logged in as <%= session.user_id %></li>
      <% if (session.TA) { %>
      <li><form method="POST" action="/options">
      <% if (typeof frozen != 'undefined' && frozen) { %>
      <input type="hidden" name="frozen" value="0">
      <a class="waves-effect" onclick="$(this).closest('form').submit();">Unfreeze Queue</a>
      <% } else if (typeof frozen != 'undefined') { %>
      <input type="hidden" name="frozen" value="1">
      <a class="waves-effect" onclick="$(this).closest('form').submit();">Freeze Queue</a>
      <% } %>
      </form></li>
      <% } %>
      <li><a href="/logout">Log Out</a></li>
      <% } else { %>
      <li><a class="waves-effect" href="/login">Log In</a></li>
      <% } %>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<script type="text/javascript">
$(document).ready(function() {
    $(".button-collapse").sideNav();
});
</script>
