html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #EEE;
    margin-bottom: 3em;
}

nav .brand-logo h1 {
    margin: 0px;
}

nav .brand-logo, nav .brand-logo a {
    font-size: 1.6rem;
    padding: 0px;
}

nav .brand-logo a:hover {
    background-color: transparent;
}

.sidenav li a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.center-btn {
    text-align: center;
}

input {
    outline: 0px;
}

#message {
    margin: 20px 0;
}

#message_content {
    font-size: 120%;
}

#message_form {
    display: none;
}

#queue_container {
    position: relative;
}

#status {
    font-size: 120%;
    text-align: center;
    margin: 0px 10px;
}

#status.overlay {
    position: absolute;
    background: rgba(238,238,238,0.85);
    left: 2em;
    right: 18em;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin: 0px;
    padding: 1em;
    min-height: 3.2em;
}

#status.overlay .inner {
    display: table;
    width: 100%;
    height: 100%;
}

#status.overlay .inner div {
    display: table-cell;
    vertical-align: middle;
}

.collection {
    border: 0px;
    overflow: visible;
}

.collection .collection-item {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    margin: 0px 10px;
    min-height: 45px;
}

.collection .collection-item:first-child {
    border-top: 1px solid #e0e0e0;
}

.collection .collection-item:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.me {
    margin: 30px 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    padding: 10px 30px;
}

.helping-text:not(:empty) {
    margin: 0 5px 5px 0;
    text-align: right;
}

.entry-container {
    display: flex;
    align-items: center;
}

.entry-item {
    flex-shrink: 0;
    margin: 0 5px;
}

.entry-text {
    flex-shrink: 1;
}

.entry-name {
    width: 200px;
}

.entry-question {
    line-height: normal;
    flex-shrink: 1;
}

.modal {
    width: 45%;
}

@media only screen and (max-width: 800px) {
    /* Allow question text to fall underneath name on small viewports. */
    .entry-text {
        flex-wrap: wrap;
    }

    .entry-name {
        width: 130px;
        margin-bottom: 10px;
    }

    /* Stack buttons vertically on small viewports. */
    .entry-buttons {
        flex-direction: column;
    }

    .entry-buttons button {
        margin: 5px;
    }

    .modal {
        width: 80%;
    }

}

/* Grow when possible to push the buttons to the right. */
.entry-spacer {
    flex-grow: 1;
}

.btn-flat.x-button {
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
}

#add_form, #frozen_message {
    display: none;
}

.card h3.card-title {
    margin: 0px;
    font-weight: 400;
    font-size: 2rem;
}

.card h4.card-title {
    margin: 0px;
}

#emails {
    display: inline-block;
    width: 0.1px;
    overflow: hidden;
    border: none;
    background: none;
    outline: none;
    margin: 0px;
    padding: 0px;
    height: 1em;
}

.num-box p {
    text-align: center;
}

.num-box .bignum {
    font-size: 3rem;
}

.attribution {
    margin: 0px;
    text-align: center;
    font-size: 8pt;
    color: #666;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0.5em;
}

.fake-table {
    width: 100%;
    display: table;
    border-collapse: collapse;
}

.fake-thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    border-bottom: 1px solid #d0d0d0;
}

.fake-tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.fake-tr {
    display: table-row;
    vertical-align: inherit;
}

.fake-td, .fake-th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border: none;
}

.fake-th {
    font-weight: bold;
}

.fake-table.striped .fake-tbody .fake-tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.fake-td input {
    margin: 0px;
}

input.flatpickr-input[type=text] {
    color: inherit;
    border-bottom: 1px solid #9e9e9e;
}

input.flatpickr-input[type=text]:focus {
    border-bottom: 1px solid #26a69a;
    box-shadow: 0 1px 0 0 #26a69a;
}

.fake-td button.btn-flat {
    padding: 0 1rem;
}

.clear {
    clear: both;
}

.hide {
    display: none;
}
