html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: #EEE;
    margin-bottom: 3em;
}

nav .brand-logo, nav .brand-logo a {
    font-size: 1.6rem;
    padding: 0px;
}

nav .brand-logo a:hover {
    background-color: transparent;
}

.center-btn {
    text-align: center;
}

input {
    outline: 0px;
}

#message {
    margin: 20px 0;
}

#message_content {
    font-size: 120%;
}

#message_form {
    display: none;
}

#queue_container {
    position: relative;
}

#status {
    font-size: 120%;
    text-align: center;
    margin: 0px 10px;
}

#status.overlay {
    position: absolute;
    background: rgba(238,238,238,0.85);
    left: 2em;
    right: 18em;
    z-index: 1;
    border-radius: 10px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    margin: 0px;
    padding: 1em;
    min-height: 3.2em;
}

#status.overlay .inner {
    display: table;
    width: 100%;
    height: 100%;
}

#status.overlay .inner div {
    display: table-cell;
    vertical-align: middle;
}

.collection {
    border: 0px;
    overflow: visible;
}

.collection .collection-item {
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    margin: 0px 10px;
}

.collection .collection-item:first-child {
    border-top: 1px solid #e0e0e0;
}

.collection .collection-item:last-child {
    border-bottom: 1px solid #e0e0e0;
}

.collection .collection-item.me {
    margin: 30px 0px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    padding: 10px 30px;
}

.primary-content {
    float: left;
}

@media only screen and (min-width: 801px) {
.primary-content div {
    float: left;
    line-height: 36px;
    width: 200px;
}
}

.btn-flat.x-button {
    padding-left: 10px;
    padding-right: 10px;
    height: 24px;
    line-height: 24px;
}

.attribution {
    margin: 0px;
    text-align: center;
    font-size: 8pt;
    color: #666;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 0.5em;
}

.clear {
    clear: both;
}
